* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 900px;
}

/* INICIO - ENCABEZADO */
header {
  height: 75px;
  width: 100%;
}

header .overlay {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #fff;
  background-image: repeating-linear-gradient(135deg, #001f28 20%, #dbc613 70%);
}
/* FIN - ENCABEZADO */

/* INICIO - NAVIGATION BAR */
nav {
  display: flex;
  height: 50px;
  width: 100%;
  font-size: 16px;
  background-color: gray;
}

.navBar {
  flex-flow: row wrap;
  list-style-type: none;
  height: 100%;
  width: 100%;
  background-color: #333;
}

.navBar li {
  display: inline-block;
  vertical-align: top;
}

.navBar li a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

/* INICIO - TAMAÑO DE LOS NAVIGATE */
.inicio {
  height: 100%;
  width: 10%;
}

.actividades {
  height: 100%;
  width: 10%;
}

.chat {
  height: 100%;
  width: 10%;
}

.participantes {
  height: 100%;
  width: 20%;
}

.perfil {
  height: 100%;
  width: 10%;
}

.seguimiento {
  height: 100%;
  width: 10%;
}

.salir {
  height: 100%;
  width: 10%;
  float: right;
  background-color: #ce4a4a;
}
/* FIN - TAMAÑO DE LOS NAVIGATE */

.navBar li ul li {
  display: flex;
  height: 50px;
  width: 100%;
}
.navBar li a{
  background-color: #333;
  color:#fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.navBar li a:hover {
  background-color: #434343;
}

.nav > li {
  float: left;
}

.salir a:hover {
  background-color: #e03131 !important;
}

.navBar li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.navBar li:hover > ul {
  display: block;
}

.navBar li ul:hover li {
  display: block;
}
/* FIN DEL NAVIGATION BAR */

/* INICIO CONVOCATORIAS*/  
header {
  height: 75px;
  width: 100%;
}

header .overlay2 {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #white;
}

.Cuadros {
  width: 100%;
  height: 80%;
  padding: 20px;
  color: #white;
  background-color: #4343;
}

.Cuadro1 {
  margin: auto;
  margin-top: 20px;
  width: 1800px;
  height: 200px;
  background-color: grey;
  padding: 70px;
}

.Cuadro2 {
  margin: auto;
  margin-top: 20px;
  width: 1800px;
  height: 200px;
  background-color: grey;
  padding: 70px;
}

.Cuadro3 {
  margin: auto;
  margin-top: 20px;
  width: 1800px;
  height: 200px;
  background-color: grey;
  padding: 70px;
}

